@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Lato:wght@100;400;700;900&display=swap');

/* Variables */


$color-light: #fff;
$color-medium: #119DA4;
$color-dark: #13505B;
$color-superdark: #040404;


$font-logo: 'Dancing Script', cursive;
$font-header: 'Bebas Neue', cursive;
$font-text: 'Lato', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-superdark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  margin: 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  font-family: $font-header;
  color: $color-dark;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

a {
    text-decoration: none;
    color: $color-medium;
}

a:hover {
    transition: all 0.3s;
}
/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-medium;
  border-radius: 5px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  color: $color-medium;
  margin: 0;
  padding: 50px 0;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  .active {
    font-weight: 900;
    font-size: 1.1em;
    color: $color-dark;
    text-decoration: none;
  }
}

.list-horizontal {
  li {
    display: inline-block;
    color: $color-medium;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  opacity: 0;
  transition: all 0.5s ease;
  visibility: hidden;
  &.active {
    position: absolute;
    transition: all 0.5s ease;
    top: 0;
    height: auto;
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
}

.post-author {
  color: $color-dark

}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}

.post-content {
    font-weight: 400;
}